<!DOCTYPE html>

<html>
  <head>
    <title>Video List App</title>
    <!-- Angular JS 1.4.9 Library  -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- Custom javascript file for angular modules  -->
    <script type="text/javascript" src="javascript/app.js"></script>
    <!-- Custom CSS file for this page -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body ng-app="vlApp" ng-controller="vlCtrl" ng-cloak>
    <h1>Video List App</h1>
    <!-- Defines whether to search for keywords within a title or a tag (defaulted to title) -->
    <select ng-model="searchFocus" ng-init="searchFocus = 'title'">
      <option value="title" selected>Title</option>
      <option value="tag">Tag</option>
    </select>
    <!-- The search bar -->
    <input type="text" placeholder="Search for a {{searchFocus}}" ng-model="searchWord"/>
    <br />
    <!-- This is where all the videos that are searched are -->
    <div ng-repeat="(title, data) in videoDB" ng-show="filterVideo(title, searchFocus, searchWord)">
      <div id="titleArea" ng-click="updateDescriptionView($event, title)">
        <h4 id="title">
          {{title}}
        </h4>
        <span id="tag" ng-repeat="tag in data.tags">
          {{tag}}
        </span>
        <button id="videoButton" ng-click="updateVideoView($event, title)">
          Watch Video
        </button>
      </div>
      <p id="description" ng-show="data.show">
        {{data.description}}
      </p>
      <video width="640" ng-if="data.displayVideo" controls autoplay muted>
        <source ng-src="{{data.url}}" type="video/mp4"/>
      </video>
    </div>
  </body>
</html>